<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  {% block meta %}<!-- block meta  -->{% endblock %}
  <title>{{ title }}</title>

  <link rel="alternate" href="/rss.xml" title="Timmy Zhu&#39;s Blog" type="application/atom+xml">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <link rel="stylesheet" href="/static/css/about.css" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  {% block beforehead %}<!-- before head  -->{% endblock %}
</head>

<body>
  <div class="wrapper">
  <header id="header">
  <div class="title">
    <h1><a href="/">Timmy Zhu&#39;s Blog</a></h1>
    <p><a href="/">Python programer, web and javascript fan.</a></p>
  </div>
  <nav class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/archives">Archives</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/rss.xml">RSS</a></li>
    </ul>
    <div class="clearfix"></div>
  </nav>
  <div class="clearfix"></div>
</header>

<!-- content -->
{% block content %}
{% endblock %}
<!-- // content -->

  </div>
<footer id="footer"><div class="copyright">

&copy; 2014 <a href="/">Timmy Zhu</a>

</div>
<div class="theme-copyright">
Theme by <a href="https://github.com/orderedlist" target="_blank">orderedlist</a>
 |
Redesign by <a href="https://github.com/zhu327" target="_blank">Timmy Zhu</a>
</div>
<div class="clearfix"></div></footer>
<script src="http://cdn.staticfile.org/jquery/1.8.0/jquery.min.js"></script>
<script src="/static/js/scale.fix.js"></script>
<script src="/static/js/jquery.imagesloaded.min.js"></script>
<script src="/static/js/gallery.js"></script>

<!--
<script type="text/javascript">
var duoshuoQuery = { short_name: 'heroicyang' };
(function() {
  var ds = document.createElement('script');
  ds.type = 'text/javascript';
  ds.async = true;
  ds.src = 'http://static.duoshuo.com/embed.js';
  ds.charset = 'UTF-8';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
-->

<link rel="stylesheet" href="http://cdn.staticfile.org/fancybox/2.1.1/jquery.fancybox.css" media="screen" type="text/css">
<script src="http://cdn.staticfile.org/fancybox/2.1.1/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
  $('.fancybox').fancybox();
})(jQuery);
</script>

</body>
</html>
