{% extends '__base__.html' %}
{% set title = "Timmy Zhu&#39;s Blog" %}
{% block content %}
    <div class="content"><article class="page">
  <header>



    <h1 class="title"></h1>


  </header>

  <div class="entry">

      <div class="about">
  <div class="header">
    <div class="avatar">
      <img src="/static/css/images/heroic.jpg" class="nstyle no-fancybox">
    </div>
    <div class="profile">
      <p>Timmy Zhu</p>
      <p>Python programer.</p>
      <div class="social-link">
        <ul>
          <li>
            <a href="https://github.com/zhu327" title="Follow me on GitHub" target="_blank" class="icon github">
              <span></span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/zhu327" title="Follow me on Twitter" target="_blank" class="icon twitter">
              <span></span>
            </a>
          </li>
          <li>
            <a href="http://weibo.com/zhu327" title="Follow me on Weibo" target="_blank" class="icon weibo">
              <span></span>
            </a>
          </li>
          <li>
            <a href="/rss.xml" title="RSS Feed" class="icon rss">
              <span></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="description">
    <p>Python程序员一枚，喜欢捣鼓Web, 现工作为软件测试。</p>
    <p>技能槽：Python, SQL, HTML, JavaScript。</p>
    <p>1988 男，坐标深圳。Google 重度依赖症，轻度拖延症，咖啡控，较宅！</p>
  </div>
  <div class="recently-read">
    <h3>最近在读的书</h3>
    <script type="text/javascript" src="http://www.douban.com/service/badge/zhu327/?show=dolist&amp;n=8&amp;columns=8&amp;picsize=medium&amp;hidelogo=yes&amp;hideself=yes&amp;cat=book" ></script>
  </div>
  <div class="cc">
    <div class="image">
      <img src="/static/css/images/cc.png" class="nstyle no-fancybox">
    </div>
    <div class="license">
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.zh" target="_blank">
        <img class="nstyle" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" />
      </a>
      <p>如无特殊说明，本网站中内容由<a xmlns:cc="http://creativecommons.org/ns#" href="／" property="cc:attributionName" rel="cc:attributionURL">TimmyZhu</a>创作，采用<a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.zh" target="_blank">Creative Commons 署名 3.0 Unported 许可协议</a>进行许可，转载或使用请署名或注明出处。
      </p>
    </div>
  </div>
</div>


  </div>
  <footer>




    <div class="clearfix"></div>
  </footer>
</article>

</div>
{% endblock %}
