{% extends '__base__.html' %}
{% set title = "Timmy Zhu&#39;s Blog" %}

{% block content %}
    <div class="content">
    {% for blog in blogs %}
    <article class="post">
    <header>

      <div class="icon"></div>
      <a href="/blog/{{ blog.id }}">
      <time>
      {{ blog.created | datetime }}
      </time>
      </a>
      <h1 class="title"><a href="/blog/{{ blog.id }}">{{ blog.title }}</a></h1>

    </header>

    <div class="entry">
        {{blog.summary }}
    </div>
    <footer class="end-sep">

      <div class="alignleft">
        <a href="/blog/{{ blog.id }}#more" class="more-link">Read More</a>
      </div>

    <div class="clearfix"></div>
    </footer>
    </article>
    {% endfor %}

    <nav id="pagination">
    {% if page.has_previous %}
    <a href="/page/{{ page.page_index - 1 }}" class="prev">Prev</a>
    {% endif %}
    {% if page.has_next %}
    <a href="/page/{{ page.page_index + 1 }}" class="next">Next</a>
    {% endif %}
    <div class="clearfix"></div>
    </nav>

    </div>
{% endblock %}
