{% extends '__base__.html' %}
{% set title = blog.title ~ " | Timmy Zhu&#39;s Blog" %}

{% block content %}
    <div class="content"><article class="post">
    <header>
    <div class="icon"></div>
    <a href="/blog/{{ blog.id }}">
    <time>
    {{ blog.created | datetime }}
    </time>
    </a>

    <h1 class="title">{{ blog.title }}</h1>

    </header>

    <div class="entry">
    {{ blog.content | html }}
    </div>
    <footer>

    {% if blog.xtags %}
    <div class="tags">
    {% for tag in blog.xtags %}
    {% if loop.last %}
    <a class="tags-link" href="/tags/{{ tag }}">{{ tag }}</a>
    {% else %}
    <a class="tags-link" href="/tags/{{ tag }}">{{ tag }}</a>,
    {% endif %}
    {% endfor %}
    </div>
    {% endif %}

    <div class="clearfix"></div>
    </footer>
    </article>

    <section id="comment">
    <h1 class="title">Comments</h1>
    <div class="ds-thread" data-title="{{ blog.title }}">
    </div>
    </section>
    </div>
{% endblock %}

{% block comment %}
<script type="text/javascript">
  var duoshuoQuery = { short_name: 'boz' };
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';
    ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
{% endblock %}
