{% extends '__manage__.html' %}
{% set title = "日志 | BOZ" %}

{% block beforehead %}
<script>

function initVM(data) {
    $('#div-blogs').show();
    var vm = new Vue({
        el: '#div-blogs',
        data: {
            blogs: data.blogs,
            page: data.page
        },
        methods: {
            previous: function () {
                gotoPage(this.page.page_index - 1);
            },
            next: function () {
                gotoPage(this.page.page_index + 1);
            },
            edit_blog: function (blog) {
                location.assign('/manage/blogs/edit/' + blog.id);
            },
            delete_blog: function (blog) {
                showConfirm('#deleteModal', '确认删除？', '确认要删除“' + blog.title + '”？删除后不可恢复！', function () {
                    postApi('/api/blogs/' + blog.id + '/delete', {}, function (err, r) {
                        if (err) {
                            return showError(err);
                        }
                        location.reload();
                    });
                });
            }
        }
    });
}

$(function() {
    getApi('/api/blogs?page={{ page_index }}', function (err, results) {
        if (err) {
            return showError(err);
        }
        initVM(results);
    });
});

</script>
{% endblock %}

{% block nav %}
        <li class="active"><a href="/manage/blogs">日志</a></li>
        <li><a href="/manage/user">用户</a></li>
{% endblock %}

{% block content %}
        <div class="alert hide"></div>
        <div id="div-blogs" style="display:none">
        <a href="/manage/blogs/create" class="btn"><i class="icon-plus"></i> 新日志</a>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="span4">标题 / 摘要</th>
                <th class="span2">创建时间</th>
                <th class="span1">操作</th>
            </tr>
            </thead>
            <tbody>
                <tr v-repeat="blog: blogs">
                <td>
                    <a target="_blank" v-attr="href: '/blog/'+blog.id" v-text="blog.title"></a>
                </td>
                <td>
                    <span v-text="blog.created"></span>
                </td>
                <td>
                    <a href="#" v-on="click: edit_blog(blog)"><i class="icon-pencil"></i></a>
                    <a href="#" v-on="click: delete_blog(blog)"><i class="icon-trash"></i></a>
                </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination text-center">
            <ul>
                <li v-if="! page.has_previous" class="disabled"><span>&laquo;</i></span></li>
                <li v-if="page.has_previous"><a v-on="click: previous()" href="#0">&laquo;</a></li>
                <li class="active"><span v-text="page.page_index"></span></li>
                <li v-if="! page.has_next" class="disabled"><span>&raquo;</span></li>
                <li v-if="page.has_next"><a v-on="click: next()" href="#0">&raquo;</a></li>
            </ul>
        </div>
    </div>
<div id="deleteModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="x-title"></h3>
  </div>
  <div class="modal-body">
    <p class="x-text"></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">取消</a>
    <a href="#" class="btn btn-primary x-ok">确认</a>
  </div>
</div>
{% endblock %}
