{% extends '__manage__.html' %}
{% set title = "日志 | BOZ" %}

{% block beforehead %}
<script>

var
    action = '{{ action }}',
    redirect = '{{ redirect }}';

function initVue(blog) {
    var vm = new Vue({
        el: '#form-blog',
        data: blog,
        methods: {
            submit: function (event) {
                event.preventDefault();
                postApi(action, this.$data, function (err, r) {
                    if (err) {
                        showError(err);
                    }
                    else {
                        return location.assign(redirect);
                    }
                });
            }
        }
    });
}

// {% if id %}

$(function () {
    getApi('/api/blogs/{{ id }}', function (err, blog) {
        if (err) {
            showError(err);
        }
        else {
            initVue(blog);
        }
    });
});

// {% else %}

$(function () {
    initVue({
        title: '',
        tags: '',
        content: ''
    });
});

// {% endif %}

</script>
{% endblock %}

{% block nav %}
        <li class="active"><a href="/manage/blogs">日志</a></li>
        <li><a href="/manage/user">用户</a></li>
{% endblock %}

{% block content %}
        <form id="form-blog" v-on="submit: submit">
            <fieldset>
              <div class="alert" style="display:none"></div>
              <input v-model="title" class="input-block-level" type="text" placeholder="标题">
              <input v-model="tags" class="input-block-level" type="text" placeholder="标签:使用,分隔">
              <textarea v-model="content" rows="20" class="input-block-level" placeholder="正文:markdown格式"></textarea>
              <button type="submit" class="btn pull-right">发布</button>
            <fieldset>
        </form>
{% endblock %}
