<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title>日志 | BOZ</title>

    <link href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.staticfile.org/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://cdn.staticfile.org/vue/0.10.5/vue.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/js/boz.js"></script>
    <style>
    div.nav {
        margin: 5em 0 0 0;
    }
    div.content {
        margin: 5em 0 0 0;
    }
    </style>
    <script>
    </script>
  </head>
  <body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1 offset3">
        <div class="nav">
        <ul class="nav nav-list text-right">
        <li><a href="/">首页</a></li>
        <li class="divider"></li>
        <li class="active"><a href="/manage/blogs">日志</a></li>
        <li><a href="/manage/user">用户</a></li>
        <li class="divider"></li>
        <li><a href="#">退出</a></li>
        </ul>
        </div>
    </div>
    <div class="span5">
    <div class="content">
    <div class="content">
        <form>
            <fieldset>
              <input v-model="title" class="input-block-level" type="text" name="title" placeholder="标题">
              <input v-model="tags" class="input-block-level" type="text" name="tags" placeholder="标签:使用,分隔">
              <textarea rows="15" class="input-block-level" placeholder="正文:markdown格式"></textarea>
              <button type="submit" class="btn pull-right">发布</button>
            <fieldset>
        </form>
    </div>
    </div>
    </div>
  </div>
</div>
  </body>
</html>
